#sjs-panel {
    background-color: purple;
    border-radius: 2px;
    bottom: 6px;
    position: fixed;
    right: 5px;
    top: 5px;
    width: 400px;
    z-index: 999999
}

.sjs-element-hover,
.sjs-element-focus {
    position: relative;

    &:before,
    &:after {
        background-color: transparent;
        border: 1px solid white;
        bottom: 0;
        box-sizing: border-box;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
    }

    &:after {
        border: 1px dotted black;
    }
}

.sjs-heading {
    margin: 0.5rem;
}